<%= form_for(@destination) do |f| %>
  <% if @destination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
      <% @destination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :departtime %><br />
    <%= f.time_select :departtime %>
  </div>
  <div class="field">
    <%= f.label :arrivaltime %><br />
    <%= f.time_select :arrivaltime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
